.header {
    display: flex;
    font-size: 20px;
    margin: 20px;
    justify-content: space-between;
    color: rgb(0, 0, 142);
}
.header-nav {
    display: flex;
    justify-content: flex-end;
}
.header-nav__list {
    display: flex;
    justify-content: flex-end;
    margin: 0px 30px;
    text-decoration: none;
}

.card__img {
    margin: auto;
    width: 50%;
}
.card-text {
    font-size: 50px;
}
.blue-box {
    position: absolute;
    background-color: rgb(0, 0, 142);
    width: 800px;
    height: 150px;
}