* {
    box-sizing: border-box;
}
.header {
    display: flex;
    font-size: 20px;
    margin: 20px;
    justify-content: space-between;
    color: rgb(0, 0, 142);
}
.header-nav {
    display: flex;
    justify-content: flex-end;
}
.header-nav__list {
    display: flex;
    justify-content: flex-end;
    margin: 0px 30px;
    text-decoration: none;
}
.card {
    position: relative;
    display: flex;
}
.card__img {
    margin: 50px 0px 0px auto;
    width: 50%;
    z-index: 0;
}
.card__img img {
    width: 100%;
}
.card__text {
    position: absolute;
    bottom: 80px;
}
.card__text-ttl {
    font-size: 50px;
}
.blue-box {
    position: absolute;
    background-color: rgb(0, 0, 142);
    width: 80vw;
    height: 150px;
    z-index: -10;
}