.header {
    display: flex;
    font-size: 20px;
    margin: 20px;
    justify-content: space-between;
}
.header-nav {
    display: flex;
    justify-content: flex-end;
}
.header-nav__list {
    display: flex;
    justify-content: flex-end;
    margin: 0px 30px;
}

.card__img img{
    width: 50%;
}
.blue-box {
    width: 500px;
    background-color: blue;
}